* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-size: 1.5em;
    height: 100vh;
    font-family: 'Courier New', Courier, monospace;
    display: flex;
    align-items: center;
    background-color: #173753;
}

h1 {
    text-align: center;
}
.gameboard {
    background-color: #1D70A2;
    width: 500px;
    margin: 80px auto;
    border-radius: 10px;
    padding: 16px;
    box-shadow: 10px -7px 23px 0px rgba(0,0,0,0.75);
}
.score-container {
    display: flex;
    justify-content: space-around;
    padding: 16px;
}

.btns-container {
    display: flex;
    justify-content: space-around;
    padding: 16px 0;
}

button {
    font-size: 80px;
    border-radius: 10%;
    background-color: #2892D7;
    border: 2px solid #173753;
}

button:hover {
    border: 2px solid #6DAEDB;
}

.results-container {
    text-align: center;
    padding: 16px 0;
}
